<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="circle" [src]="profileImage">
  </ion-avatar>
  <h2 text-center>{{cliente?.nome}}</h2>
  <h2 text-center>{{cliente?.email}}</h2>

  <ion-card>
    <ion-card-header>
      Alterar imagem de perfil
    </ion-card-header>
    <ion-item class="image-camera-center" *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">
        <ion-icon name="camera" size="large"></ion-icon>
        Camera
      </button>
      <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">
        <ion-icon name="camera" size="large"></ion-icon>
        Galeria
      </button>
      <button *ngIf="picture" ion-button outlile block (click)="sendPictureCliente()">Emviar imagem</button>
      <button *ngIf="picture" ion-button outlile block (click)="cancel()">Descartar imagem</button>
    </ion-item>
  </ion-card>
</ion-content>
