<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="codPedido">Pedido registrado!</ion-title>
    <ion-title *ngIf="!codPedido">Confirmação do Pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div className="order-confirmation-container" *ngIf="!codPedido">
    <div className="order-confirmation-pedido">
      <ion-card>
        <ion-card-header>
          Itens do pedido
        </ion-card-header>

        <ion-list>
          <ion-item *ngFor="let item of cartItems">
            <ion-thumbnail item-start>
              <img [src]="item.produto.imagemUrl || 'assets/imgs/prod.jpg'">
            </ion-thumbnail>
            <h2>{{item.produto.nome}}</h2>
            <p>{{item.produto.preco | currency: 'R$':2}}</p>
            <p class="nolinebreak">{{item.quantidade}}</p>
            <p item-end>{{item.produto.preco * item.quantidade | currency: 'R$':2}}</p>
          </ion-item>

          <ion-item>
            <h2>Total</h2>
            <h2 item-end>{{total() | currency: 'R$':2}}</h2>
          </ion-item>
        </ion-list>
      </ion-card>

      <ion-card>
          <ion-card-header>
            Cliente
          </ion-card-header>
          <ion-item>
            <h2>{{cliente?.nome}}</h2>
            <p>{{cliente?.email}}</p>
          </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Endereço de entrega
        </ion-card-header>

        <ion-item>
          <h2>{{endereco?.logradouro}}, nº  {{endereco?.numero}}</h2>
          <p>{{endereco?.complemento}} {{endereco?.bairro}} CEP {{endereco?.cep}}</p>
          <p>{{endereco?.cidade.nome}}, {{endereco?.cidade.estado.nome}}</p>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-card-header>Forma de pagamento</ion-card-header>
        <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComCartao'">
          <h3>Pagamento com cartão</h3>
          <p>Parcelas: {{pedido.pagamento.numeroDeParcelas}}</p>
        </ion-item>
        <ion-item *ngIf="pedido.pagamento['@type']=='pagamentoComBoleto'">
          <h3>Pagamento com boleto</h3>
        </ion-item>
      </ion-card>

      <button ion-button block (click) = "checkout()">Confirmar Pedido</button>
      <button ion-button block outline (click) = "back()">Voltar</button>
    </div>
  </div>

  <div *ngIf="codPedido">
    <ion-card>
      <ion-card-header>
        Seu pedido foi registrado!
      </ion-card-header>
      <ion-item>
        <h2>Código do pedido: {{codPedido}}</h2>
        <p>Verifique seu email</p>
      </ion-item>
    </ion-card>
    <button ion-button block outline (click) = "backHome()">Voltar</button>
  </div>
</ion-content>
